td {
    padding: 5px;
}

table {
     background-color: rgba(240, 240, 240, 0.5);
     padding: 10px;
}

button {
    width: 80px;
    margin: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

