

.title {
       margin: 10px auto;
                text-align: center;
                color: grey;
                font-size: 4em;
                transition: 0.5s;
                font-family: Arial, Helvetica, sans-serif;

}
  .title:hover {
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                0 3px 0 #ccc, 0 4px 0 #ccc,
                0 5px 0 #ccc, 0 6px 0 #ccc,
                0 7px 0 #ccc, 0 8px 0 #ccc,
                0 9px 0 #ccc, 0 10px 0 #ccc,
                0 11px 0 #ccc, 0 12px 0 #ccc,
                0 20px 30px rgba(0, 0, 0, 0.5);
        }

.error {
    color: red;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: Black;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: Grey;
}

.working-image { -webkit-animation:rotation 2s infinite linear; }
@-webkit-keyframes rotation {
   from { -webkit-transform:rotate(0deg); }
   to   { -webkit-transform:rotate(359deg); }
}

.personal {
    color: #2e73b0;
    text-align: center;
    vertical-align: middle;
    font-size: 65px;
    font-weight: bold;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.imge:hover {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }


