ul.a {
  list-style-type: circle;
}

.imge:hover {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.example_e {
border: none;
background: #404040;
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.example_e:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}


.middle {
  margin: auto;
   width: 50%;
   padding: 10px;
}

.bubble
{
position: relative;
width: 200px;
height: 50px;
padding: 0px;
background: #CACFD2 ;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #979A9A solid 7px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 24px 54px 24px 0;
border-color: transparent #CACFD2 ;
display: block;
width: 0;
z-index: 1;
margin-top: -24px;
left: -54px;
top: 50%;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 30px 60px 30px 0;
border-color: transparent #979A9A ;
display: block;
width: 0;
z-index: 0;
margin-top: -30px;
left: -67px;
top: 50%;
}