body {
    background-color: #C0C0C0
}


table {
  border-collapse : collapse;
    width: 100%;
}
 th, td {
     text-align: left;
      padding: 8px;
}

tr:nth-child(even){background-color: #e6e6e6}

th {
  background-color: #404040;
  color: white;
}


